* {
    border: solid 1px red;
    margin: 0px;
    padding: 0px;
    /* overflow: hidden; */
    background-color: #0a192f;
}





header {
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
    /* Not sure about this position */
    position: fixed;
}

.signature {
    display: flex;
    align-items: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 25px;
    color: #8892b0;

    margin-left: 40px;
    width: 12%;
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8892b0;

}

.header-links:hover, .signature:hover {
color: #5ff1d0;
}





main {
width: 100%;
height: 98vh;
color: white;
margin-left: 40px;

}

.small-intro {
font-size: 20px;
position: relative;
top: 200px;
left: 400px;
color: #5ff1d0;

width: 50%;
}

.big-intro {
font-size: 70px;
position: relative;
top: 200px;
left: 400px;
width: 50%;
}

.second-line {
color: #8892b0;
}

p {
font-size: 20px;
color: #8892b0;
position: relative;
top: 210px;
left: 400px;

width: 30%;
}

.resume {
width: 200px;
font-size: 20px;

position: relative;
top: 250px;
left: 400px;

padding: 15px;
border: 1px solid #5ff1d0;
}


a:link, a:visited {
text-decoration: none;
color: #5ff1d0;
}

a:hover {
text-decoration: underline;
}




.about-page {
color: #8892b0;
font-size: 40px;


}

.about-pic {
position: relative;
left: 1200px;
bottom: 200px;
}








footer {
    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.github {
    height: 25px;
    width: 25px;
    border-radius: 100px;
    background-color: #8892b0;
}

.github:hover {
    background-color: #5ff1d0;
}